---
import Layout from "../layouts/Layout.astro";
import Logo from "../icons/Logo.astro";
import Chrome from "../icons/Chrome.astro";
import Uncut from "../icons/Uncut.astro";
import Time from "../icons/Time.astro";
import Customizable from "../icons/Customizable.astro";
import Zoom from "../icons/Zoom.astro";
import Cam from "../icons/Cam.astro";
import Tutorials from "../icons/Tutorials.astro";
import Feature from "../components/Feature.astro";
---

<Layout
    title="Tab Recorder for Indie Hackers"
    description="Create videos of websites generating impressive videos for indie hackers."
>
    <div
        class="flex flex-col min-h-screen overflow-hidden supports-[overflow:clip]:overflow-clip"
    >
        <header
            class="fixed w-full z-30 md:bg-opacity-90 transition duration-300 ease-in-out bg-white backdrop-blur-sm"
        >
            <div class="max-w-6xl mx-auto px-5 sm:px-6">
                <div class="flex items-center justify-between h-16 md:h-20">
                    <div class="shrink-0 mr-4">
                        <a class="flex items-center gap-2 text-lg" href="/">
                            <Logo />
                            <p>Tab <strong>Recorder</strong></p>
                        </a>
                    </div>
                    <nav>
                        <ul
                            class="flex grow justify-end flex-wrap items-center"
                        >
                            <li>
                                <a
                                    class="flex items-center gap-2 py-2 px-4 rounded font-semibold text-gray-200 bg-gray-900 hover:bg-gray-800 ml-3"
                                    href="#"
                                >
                                    <Chrome />
                                    Download extension
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="grow">
            <section class="relative">
                <div
                    class="absolute left-1/2 transform -translate-x-1/2 bottom-0 pointer-events-none -z-1"
                    aria-hidden="true"
                >
                    <svg
                        width="1360"
                        height="578"
                        viewBox="0 0 1360 578"
                        xmlns="http://www.w3.org/2000/svg"
                        ><defs
                            ><linearGradient
                                x1="50%"
                                y1="0%"
                                x2="50%"
                                y2="100%"
                                id="illustration-01"
                                ><stop stop-color="#FFF" offset="0%"
                                ></stop><stop
                                    stop-color="#EAEAEA"
                                    offset="77.402%"></stop><stop
                                    stop-color="#DFDFDF"
                                    offset="100%"></stop></linearGradient
                            ></defs
                        ><g fill="url(#illustration-01)" fill-rule="evenodd"
                            ><circle cx="1232" cy="128" r="128"></circle><circle
                                cx="155"
                                cy="443"
                                r="64"></circle></g
                        ></svg
                    >
                </div><div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pt-32 pb-12 md:pt-40 md:pb-20">
                        <div class="text-center pb-12 md:pb-16">
                            <h1
                                class="text-5xl md:text-8xl font-extrabold leading-tighter tracking-tight mb-4 text-balance"
                            >
                                Create product video from
                                <span
                                    class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-400"
                                    >browser</span
                                >
                            </h1><div class="max-w-3xl mx-auto">
                                <p class="text-2xl text-gray-600 mb-1">
                                    Record your website without video editors.
                                </p>
                                <p class="text-gray-400 mb-8">
                                    No login. Free. No credit card required.
                                </p>
                            </div>
                        </div><div>
                            <div>
                                <div class="relative flex justify-center mb-8">
                                    <div class="flex flex-col justify-center">
                                        <img
                                            alt="Modal video thumbnail"
                                            loading="lazy"
                                            width="768"
                                            height="432"
                                            decoding="async"
                                            data-nimg="1"
                                            style="color:transparent"
                                            srcset="https://simple.cruip.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-image.aff77a9d.png&w=828&q=75 1x, https://simple.cruip.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-image.aff77a9d.png&w=1920&q=75 2x"
                                            src="https://simple.cruip.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-image.aff77a9d.png&w=1920&q=75"
                                        /><svg
                                            class="absolute inset-0 max-w-full mx-auto md:max-w-none h-auto"
                                            width="768"
                                            height="432"
                                            viewBox="0 0 768 432"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            ><defs
                                                ><linearGradient
                                                    x1="50%"
                                                    y1="0%"
                                                    x2="50%"
                                                    y2="100%"
                                                    id="hero-ill-a"
                                                    ><stop
                                                        stop-color="#FFF"
                                                        offset="0%"></stop><stop
                                                        stop-color="#EAEAEA"
                                                        offset="77.402%"
                                                    ></stop><stop
                                                        stop-color="#DFDFDF"
                                                        offset="100%"
                                                    ></stop></linearGradient
                                                ><linearGradient
                                                    x1="50%"
                                                    y1="0%"
                                                    x2="50%"
                                                    y2="99.24%"
                                                    id="hero-ill-b"
                                                    ><stop
                                                        stop-color="#FFF"
                                                        offset="0%"></stop><stop
                                                        stop-color="#EAEAEA"
                                                        offset="48.57%"
                                                    ></stop><stop
                                                        stop-color="#DFDFDF"
                                                        stop-opacity="0"
                                                        offset="100%"
                                                    ></stop></linearGradient
                                                ><radialGradient
                                                    cx="21.152%"
                                                    cy="86.063%"
                                                    fx="21.152%"
                                                    fy="86.063%"
                                                    r="79.941%"
                                                    id="hero-ill-e"
                                                    ><stop
                                                        stop-color="#4FD1C5"
                                                        offset="0%"></stop><stop
                                                        stop-color="#81E6D9"
                                                        offset="25.871%"
                                                    ></stop><stop
                                                        stop-color="#338CF5"
                                                        offset="100%"
                                                    ></stop></radialGradient
                                                ><circle
                                                    id="hero-ill-d"
                                                    cx="384"
                                                    cy="216"
                                                    r="64"></circle></defs
                                            ><g fill="none" fill-rule="evenodd"
                                                ><circle
                                                    fill-opacity=".04"
                                                    fill="url(#hero-ill-a)"
                                                    cx="384"
                                                    cy="216"
                                                    r="128"></circle><circle
                                                    fill-opacity=".16"
                                                    fill="url(#hero-ill-b)"
                                                    cx="384"
                                                    cy="216"
                                                    r="96"></circle><g
                                                    fill-rule="nonzero"
                                                    ><use
                                                        fill="/00"
                                                        xlink:href="#hero-ill-d"
                                                    ></use><use
                                                        fill="url(#hero-ill-e)"
                                                        xlink:href="#hero-ill-d"
                                                    ></use></g
                                                ></g
                                            ></svg
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="relative">
                <div
                    class="absolute inset-0 top-1/2 md:mt-24 lg:mt-0 bg-gray-900 pointer-events-none"
                    aria-hidden="true"
                >
                </div><div
                    class="absolute left-0 right-0 bottom-0 m-auto w-px p-px h-20 bg-gray-200 transform translate-y-1/2"
                >
                </div><div class="relative max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="py-12 md:py-20">
                        <div
                            class="max-w-3xl mx-auto text-center pb-12 md:pb-20"
                        >
                            <h2
                                class="text-5xl font-extrabold leading-tighter tracking-tight mb-4"
                            >
                                Features
                            </h2><p class="text-xl text-gray-600">
                                Record in high quality, download and share it.
                            </p>
                        </div><div
                            class="max-w-sm mx-auto grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start md:max-w-2xl lg:max-w-none"
                        >
                            <Feature
                                title="Zoom effect"
                                description="Quick shortcuts to control it."
                            >
                                <Zoom />
                            </Feature>
                            <Feature
                                title="Uncut"
                                description="No more editing software."
                            >
                                <Uncut />
                            </Feature>
                            <Feature
                                title="In real time"
                                description="Invest in building."
                            >
                                <Time />
                            </Feature>
                            <Feature
                                title="Customizable"
                                description="Choose size, style and colors."
                            >
                                <Customizable />
                            </Feature>
                            <Feature
                                title="Record your webcam"
                                description="Create your personal brand."
                            >
                                <Cam />
                            </Feature>
                            <Feature
                                title="Tutorials"
                                description="Include your voice to explain."
                            >
                                <Tutorials />
                            </Feature>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="max-w-6xl mx-auto px-4 sm:px-6">
                <div
                    class="grid sm:grid-cols-12 gap-8 py-8 md:py-12 border-t border-gray-200"
                >
                    <div class="sm:col-span-12 lg:col-span-3">
                        <div class="mb-2">
                            <a class="flex items-center gap-2 text-lg" href="/">
                                <Logo />
                                <p>Tab <strong>Recorder</strong></p>
                            </a>
                        </div>
                        <div class="text-sm text-gray-600">
                            <a
                                href="/"
                                class="text-gray-600 hover:text-gray-900 hover:underline transition duration-150 ease-in-out"
                                >Terms</a
                            > · <a
                                href="/"
                                class="text-gray-600 hover:text-gray-900 hover:underline transition duration-150 ease-in-out"
                                >Privacy Policy</a
                            >
                        </div>
                    </div>
                    <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                        <p class="text-gray-800 font-medium mb-2">
                            Products
                        </p><ul class="text-sm">
                            <li class="mb-2">
                                <a
                                    href="/"
                                    class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out"
                                    >Web Studio</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                        <p class="text-gray-800 font-medium mb-2">
                            Resources
                        </p><ul class="text-sm">
                            <li class="mb-2">
                                <a
                                    href="/"
                                    class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out"
                                    >Documentation</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
                        <p class="text-gray-800 font-medium mb-2">Company</p><ul
                            class="text-sm"
                        >
                            <li class="mb-2">
                                <a
                                    href="/"
                                    class="text-gray-600 hover:text-gray-900 transition duration-150 ease-in-out"
                                    >Home</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="sm:col-span-6 md:col-span-3 lg:col-span-3">
                        <p class="text-gray-800 font-medium mb-2">
                            Subscribe
                        </p><p class="text-sm text-gray-600 mb-4">
                            Get the latest news and articles to your inbox every
                            month.
                        </p>
                    </div>
                </div>
                <div
                    class="md:flex md:items-center md:justify-between py-4 md:py-8 border-t border-gray-200"
                >
                    <ul class="flex mb-4 md:order-1 md:ml-4 md:mb-0">
                        <li>
                            <a
                                href="https://twitter.com/salteadorneodev"
                                class="flex justify-center items-center text-gray-600 hover:text-gray-900 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out"
                                aria-label="Twitter"
                                ><svg
                                    class="w-8 h-8 fill-current"
                                    viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg"
                                    ><path
                                        d="m13.063 9 3.495 4.475L20.601 9h2.454l-5.359 5.931L24 23h-4.938l-3.866-4.893L10.771 23H8.316l5.735-6.342L8 9h5.063Zm-.74 1.347h-1.457l8.875 11.232h1.36l-8.778-11.232Z"
                                    ></path></svg
                                ></a
                            >
                        </li>
                        <li class="ml-4">
                            <a
                                href="https://github.com/salteadorneo"
                                class="flex justify-center items-center text-gray-600 hover:text-gray-900 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out"
                                aria-label="Github"
                                ><svg
                                    class="w-8 h-8 fill-current"
                                    viewBox="0 0 32 32"
                                    xmlns="http://www.w3.org/2000/svg"
                                    ><path
                                        d="M16 8.2c-4.4 0-8 3.6-8 8 0 3.5 2.3 6.5 5.5 7.6.4.1.5-.2.5-.4V22c-2.2.5-2.7-1-2.7-1-.4-.9-.9-1.2-.9-1.2-.7-.5.1-.5.1-.5.8.1 1.2.8 1.2.8.7 1.3 1.9.9 2.3.7.1-.5.3-.9.5-1.1-1.8-.2-3.6-.9-3.6-4 0-.9.3-1.6.8-2.1-.1-.2-.4-1 .1-2.1 0 0 .7-.2 2.2.8.6-.2 1.3-.3 2-.3s1.4.1 2 .3c1.5-1 2.2-.8 2.2-.8.4 1.1.2 1.9.1 2.1.5.6.8 1.3.8 2.1 0 3.1-1.9 3.7-3.7 3.9.3.4.6.9.6 1.6v2.2c0 .2.1.5.6.4 3.2-1.1 5.5-4.1 5.5-7.6-.1-4.4-3.7-8-8.1-8z"
                                    ></path></svg
                                ></a
                            >
                        </li>
                    </ul>
                    <div class="text-sm text-gray-600 mr-4">
                        Created by @salteadorneo
                    </div>
                </div>
            </div>
        </footer>
    </div>
</Layout>
