---
const { title, description } = Astro.props;
---

<div class="relative flex flex-col items-center p-6 bg-white rounded shadow-xl">
    <div class="p-3.5 bg-gray-900 text-white rounded-full mb-2">
        <slot />
    </div>
    <h4 class="text-xl font-bold leading-snug tracking-tight mb-1">
        {title}
    </h4><p class="text-gray-600 text-center">
        {description}
    </p>
</div>
